// Typography
// ==========================================================================

body,
html, 
.body {
  background: $body-background !important;
  -webkit-font-smoothing: antialiased;
}

// Links

a {
  font-weight: $global-font-weight-bold;
  -webkit-font-smoothing: antialiased;
}

// Headers

h1, h2, h3, h4, h5, h6 {
  line-height: $header-line-height;
}

h1, h2 {
  margin-top: 35px;
}

.header-trim {
  margin-bottom: 4px !important;
}

.header-label {
  font-size: $text-small;
  letter-spacing: 0.5px;
}

// Paragraphs

.sub-header {
  margin-bottom: 16px !important;
  line-height: 1.4;
}

.no-space {
  margin: 0 !important;
  padding: 0 !important;
}

// Lists

li {
  margin-bottom: 12px;
}

.list-unstyled {
  margin: 0 !important;
  padding-left: 0 !important;
  list-style-type: none !important;
  li {
    margin-left: 0 !important; // reset for Gmail client
  }
}

.list-pull-left {
  padding-left: 20px !important;
  li {
    margin-left: 0 !important; // reset for Gmail client
  }
}

.list-featured {
  a {
    font-size: 18px;
  }
  p {
    margin-bottom: 0;
    line-height: 1.4;
  }
}

.list-secondary {
  a {
    font-weight: $global-font-weight !important;
    text-decoration: underline;
  }
}

// Text utilities

.text-small {
  font-size: $text-small;
}

.text-medium {
  font-size: $text-medium;
}

.text-muted {
  color: $shade-3;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

// Dividers

hr {
  clear: both;
  height: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $shade-5;
  border-left: 0;
}


// Headers
// ==========================================================================

.header .columns {
  padding-bottom: 0;
}

.header p {
  margin: 0 !important;
  padding: 0 !important;
}

// Header - Secondary

.header-secondary {
  background: $white;
}

.header-secondary .wrapper-inner {
  padding: 10px;
}

.header-secondary p {
  margin: 0 !important;
  padding: 0 !important;
  color: $shade-3;
  font-size: $text-tiny;
}

.header-secondary a {
  font-weight: $global-font-weight !important;
}

// Header - Primary

.header-primary {
  background: $light-gray;
}

.header-primary .wrapper-inner {
  padding: 20px 20px 20px;
}

.header-primary .container {
  background: transparent;
}

.header-title {
  font-size: 16px;
  font-weight: $global-font-weight-bold;
}

.header-sub-title {
  font-size: 14px;
}


// Footer
// ==========================================================================

.footer {
  background: $light-gray;
}

.footer .container {
  background: transparent;
}

.btn-app-store {
  height: 40px !important;
}

.footer-nav {
  a {
    font-size: $text-small;
    font-weight: $global-font-weight !important;
  }
}


// Rows & Sections
// ==========================================================================

// Row Spacer
// Use when you need a visible spacer between table sections, background
// colour uses the same global background shade. Vertical height space
// inherits $global-padding.

.row-spacer {
  margin: 0 !important;
  background: $body-background;
}

// Row column reset
// Removes bottom column padding, this would be used for cases where you
// don't want bottom padding between two elements. e.g H2 and <ul>.

.row-trim-columns {
  .columns {
    padding-bottom: 0 !important;
  }
}

// Row dual column reset
// Removes padding on specific columns, applies to large screens only
// as mobile definitions will reset these values, which is fine.

.row-slideshow {
  .first {
    padding-right: 20px;
  }
  .last {
    padding-left: 0;
  }
  // fix for height not working
  img {
    height: auto !important;
  }
}


// Components
// ==========================================================================

// Buttons
// Use .btn-offset to add top margin space.

.btn-offset {
  margin-top: 30px !important;
}

// Callout
// Sponsored callout uses .primary which is branded with 20% of ddc-blue.

.sponsored .callout {
  margin-bottom: 0 !important;
}

.sponsored .columns {
  padding-bottom: 0 !important;
}

.callout-inner {
  border: 0 !important;
}

.sponsored ul {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


// Vendor
// ==========================================================================

// Website Logos

.logo-ddc {
  height: 44px !important;
}

.logo-fda {
  height: 50px !important;
}

// FDA
// Adds a 8px top border to the <row> wrapper.

.row-fda {
  border-top: 8px solid $fda-primary;
}


// Responsive
// ==========================================================================

@media only screen and (max-width: #{$global-breakpoint}) {
  
  // reduce column padding for small devices
  table.body .columns {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .logo-ddc {
    margin-bottom: 10px !important;
  }

  .header-title,
  .header-sub-title {
    font-size: 14px;
  }

}


// What is this?

.wrapper.secondary {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}
