	<row>
		<columns small="12">
			<spacer size="20"></spacer>
		</columns>
	</row>
	<row class="row-slideshow">
		<columns small="12" large="5">
			<a href="#">
				<center><img src="https://www.drugs.com/images/slideshow/1149-intro_image-1422916123.png" width="300" height="216" alt="" ></center>
			</a>
		</columns>
		<columns small="12" large="7">
			<p class="header-label text-uppercase">Featured Content</p>
			<h3>Take It Back: 11 Tips To Help Relieve Back Pain</h3>
			<p>Is your back getting you down? Some treatments work better than others. Here's our top 11.</p>
			<a href="#">Read More</a>
			<spacer size="10"></spacer>
		</columns>
	</row>