	<row>
		<columns small="12">
			<spacer size="10"></spacer>
		</columns>
	</row>
	<row class="row-trim-2-columns slideshow">
		<columns small="12" large="5">
			<a href="#">
				<!-- <center><img src="https://www.drugs.com/images/slideshow/1179-intro_image-1443648869.png" width="300" height="216" alt="" ></center> -->
				<center><img src="https://www.drugs.com/images/slideshow/1149-intro_image-1422916123.png" width="300" height="216" alt="" ></center>
			</a>
		</columns>
		<columns small="12" large="7">
			<p class="header-label text-uppercase">Featured Content</p>
			<a href="#" class="link-grey">
				<!-- <h3>The ABC's of Hepatitis: Get to Know This Viral Disease</h3> -->
				<h3>Take It Back: 11 Tips To Help Relieve Back Pain</h3>
				<!-- <h3>The ABC's of Hepatitis: Get to Know This Viral Disease</h3> -->
			</a>
			<p>50 billion dollars. That's how much back pain costs in the U.S. every year. So you'd think treatment would be pretty streamlined, right? Wrong. When it comes to sore backs, one remedy does not fit all. That's why we've put together eleven ways to help relieve back pain...hopefully one might relieve yours.</p>
			<!-- <p>Is your back getting you down? Some treatments work better than others. Here's our top 11.</p> -->
			<button href="#" class="radius btn-offset">Continue reading</button>
		</columns>
	</row>