	<row class="row-trim-columns collapse sponsored">
		<columns small="12">
			<callout class="primary">
				<p class="header-label text-uppercase">Sponsored Content</p>
				<ul class="list-pull-left list-unstyled">
					<li>
						<a href="#">Site For Endocrinologists</a>
						<p>Low Testosterone Due To Certain Medical Conditions. Treatment Info</p>
					</li>
					<li>
						<a href="#">HCP Site - Relapsing MS Medication Info</a>
						<p>View Information On An Oral Treatment For Relapsing MS. Sign Up For Updates</p>
					</li>
					<li>
						<a href="#">Help Prevent Next Heart Attack - A Proven Treatment Option</a>
						<p>Learn About A Heart Attack Treatment Indicated To Help Prevent A Second Attack</p>
					</li>
				</ul>
			</callout>
		</columns>
	</row>