	<row class="row-trim-columns sponsored">
		<columns small="12">
			<callout class="primary">
				<spacer size="24"></spacer>
				<p class="header-label text-uppercase">Sponsored Content</p>
				<ul class="list-unstyled">
					<li>
						<a href="#">Manage Type 2 Diabetes</a>
						<p>Learn How a Better Diet Can Help Your Type 2 Diabetes Management</p>
					</li>
					<li>
						<a href="#">Melanoma Therapy</a>
						<p>Get the Facts on Advanced Melanoma &amp; a Treatment Option that May Help</p>
					</li>
					<li>
						<a href="#">Joint Pain?</a>
						<p>Learn About an FDA Approved Treatment for Rheumatoid Arthritis</p>
					</li>
				</ul>
			</callout>
		</columns>
	</row>