	<row class="collapse sponsored">
		<columns small="12">
			<callout class="primary">
				<p class="header-label text-uppercase">Sponsored Content</p>
				<ul class="list-pull-left">
					<li>
						<a href="#">Site For Endocrinologists</a><br>
						Low Testosterone Due To Certain Medical Conditions. Treatment Info
					</li>
					<li>
						<a href="#">HCP Site - Relapsing MS Medication Info</a><br>
						View Information On An Oral Treatment For Relapsing MS. Sign Up For Updates
					</li>
					<li>
						<a href="#">Help Prevent Next Heart Attack - A Proven Treatment Option</a><br>
						Learn About A Heart Attack Treatment Indicated To Help Prevent A Second Attack
					</li>
				</ul>
			</callout>
		</columns>
	</row>